	body{
		margin : 0px; overflow: hidden; font-family: Monospace;
	}
	#arVideo{
		display: none;
		z-index: 100;
	}
	#arLayer{
		display: none;
		z-index: 101;
	}
	.flip{
		-moz-transform:    scaleX(-1); /* Gecko */
  		-o-transform:      scaleX(-1); /* Opera */
  		-webkit-transform: scaleX(-1); /* Webkit */
  		transform:         scaleX(-1); /* Standard */
  		filter: FlipH;     
	}
	#bsod{
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    z-index: 4;
	    background-image: url(../img/bsod.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    image-rendering: auto;
	    image-rendering: crisp-edges;
	    image-rendering: pixelated;
	    pointer-events: none;
	    display: none;
	}	
	#wait{
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    z-index: 102;
	    background-image: url(../gif/loader.gif);
	    background-repeat: no-repeat;
	    background-position: center;
	    image-rendering: auto;
	    image-rendering: crisp-edges;
	    image-rendering: pixelated;
	    pointer-events: none;
	    background-color: white;
	}